.editable-cell {
    position: relative;
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 4px 11px;
}

.p-10{
    padding: 10px;
}

.p-20{
    padding: 20px;
}

nz-select {
    width: 200px;
}