<nz-layout class="layout">
    <nz-sider>
      <div class="side-bar-end">
        <div>
          <div class="logo"><img src="assets/images/others/logo.svg" width="70px" height="70px"/></div>
          <ul nz-menu nzTheme="dark" nzMode="inline">
            <li #tabList *ngIf="isUser" nz-menu-item (click)="routeLink('timesheet')">
              <span nz-icon nzType="file"></span>
              <span>TimeSheet</span>
            </li>
            <li #tabList *ngIf="isAdmin" nz-menu-item (click)="routeLink('project')">
              <span nz-icon nzType="file"></span>
              <span>Project</span>
            </li>
            <li #tabList *ngIf="isAdmin" nz-menu-item (click)="routeLink('user')">
              <span nz-icon nzType="file"></span>
              <span>User</span>
            </li>
          </ul>
        </div>
        <button class="logout-pos" (click)="signOut()" nz-button nzType="primary">LogOut</button>
      </div>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-page-header class="site-page-header" nzTitle="Timeshiq"></nz-page-header>
      <h2 style="position: absolute;right:25px;top:18px;">{{displayName}}</h2>
      <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  