.save {
    margin-right: 8px;
}

nz-select {
  margin: 0 8px 10px 0;
  width: 120px;
}

.top_container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  gap:20px;
}

nz-time-picker {
  margin: 0 8px 12px 0;
}

nz-select {
  width: 200px;
}